
div.text-cont{
  bottom: 10%;
  left: 10%;
}

input[type="radio"] {
    margin-top: 0%;
    vertical-align: middle;
}
label.label-color-sel{
  display: inline-block;
  vertical-align: middle;
}

div.div-color-sel{
  display: inline-block;
  margin: auto;
  text-align: left;
  vertical-align: middle;
}
